@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
  margin: 0;
}


body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: blue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


h1 {
  font-size: 6em;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: black;
  font-family: arial;
  font-weigth: bold;
  text-shadow: 7px 4px 5px gray;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 0.700rem;
}

.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
  border-radius: 2rem;
  background-image: radial-gradient(circle at 50% -20.71%, #8fffff 0, #7ffffb 16.67%, #73f5ec 33.33%, #6cd8d8 50%, #67bbc1 66.67%, #64a3ac 83.33%, #618e98 100%);
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.text-center {
  text-align: center;
}

form {
  padding: 2.5rem 0.625rem;
  border-radius: 3rem;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.grupo {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


#input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: none;

}

.enviar-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: #618e98;
  color: #000;
  border-radius: 1rem;
  cursor: pointer;
}
